.box{
    height:1000px;
}
body{
    background-color:#dedbdb
}
.nav{
    min-height:50px;
    width:100%;
    background-color:orange;
    display:flex;/*bật hệ thống bố cục flexbox,nằm dàn hàng ngang */
    justify-content: space-around; /* chia đều khoảng cách xung quanh các thẻ con*/
    padding:8px;
}
.nav-item{
    display:inline-block; /*Biến các thẻ chữ thành dạng khối */
    list-style:none; /* xóa bỏ các dấu chấm của thẻ ul*/
    color:#fff;
    margin:0 8px; /* giãi cách cách thẻ li trên-dưới=0.trái-phải=8px*/
}
.nav-item-2{
    background-color:blue;
    color:#fff;
}
.nav-item-2:active{
    background-color:red;
}
/*box sản phẩm*/  
.form-container{
    max-width:700px;
    padding:32px;
    margin:36px auto auto;
    background-color:#fff;
}
.form-row{
    padding:8px 0;
    display: flex;
}
.form-label{
    min-width: 100px;
}
.form-input{
    flex:1;
}
.box-2{
    background-color:#fff;
    padding:20px;
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;/*Cho phép các phần tử con tự động xuống dòng mới khi hàng ngang hết chỗ*/
}  
.sp-1 > img{
    width:200px;
}
.sp-2 > img{
    width:200px;
}
.sp-3 > img{
    width:200px;
}
button{
    background-color:rgb(80, 80, 211);
    border-radius: 15px;
}
button:hover{
    background-color:blue;
    color:#fff;
}
/*khung văn bản */
.khung-van-ban{
    display:flex;
    padding:12px;
    margin-top:30px;
    justify-content: space-around;
    
}
.khung-van-ban-1{
    width:30%;
    background-color:rgb(117, 191, 139);
    padding:12px;
}
.khung-van-ban-2{
    width:30%;
    background-color:rgb(179, 173, 106);
    padding:12px;
}
.khung-van-ban-3{
    width:30%;
    background-color:rgb(133, 91, 136);
    padding:12px;
}
.chart-layout{
    margin:35px auto 0 auto;
    padding:35px 0;
    height:300px;
    background-color:#fff;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
}
.chart-layout-item{
    width:60px;
    height:var(--percent);
    color:#fff;
    background-color:orange;
    text-align: center;
    animation: lon-len ease-in 2s infinite ; /* (infinite-lập lại chuyển động)kích hoạt chuỗi chuyển động hoạt hình cho các cột biểu đồ */
}
@keyframes lon-len{ /*tạo hiệu ứng chuyển động*/
    from{ /*star*/
        opacity:0;
        height:calc(var(--percent) - 200px);/*lấy giá trị ở hàm var và - đi px để lấy được điểm bắt đầu khi cột chạy*/
    }
    to{/*end*/
        opacity:1;
        height:calc(var(--percent));/*điểm kết thúc*/
    }
}
.container{
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
}
