.box{
    height:2000px;
}
.nav{
    min-height:50px;/*chiều cao tối tiểu 50,sẽ tự động cao thêm nếu nội dung nhiều hơn hoặc bị tràn xuống*/
    display:flex;/* Kích hoạt Flexbox,các phần tử con xếp thành hàng ngang*/
    background-color:orange;
    justify-content:space-around; /* phân phối không gian trống giữa 2 khối ul*/
}
.nav-list{
    padding-left:0; /* đặt độ rộng của phần đệm bên trái=0 */
    margin:16px; /* tạo khoảng cách xung quanh phàn tử 16px*/

}
.nav-item{
    display:inline-block; /*Biến các thẻ chữ thành dạng khối */
    list-style:none; /* xóa bỏ các dấu chấm của thẻ ul*/
    color:#fff;
    margin:0 8px; /* giãi cách cách thẻ li trên-dưới=0.trái-phải=8px*/
}
.nav-item-2{
    background-color:blue;
    color:#fff;
    padding-left: 8px;
}