.box{
    height:2000px;
}
.nav{
    min-height:50px;
    display:flex;
    background-color:orange;
    justify-content:space-around; /* phân phối khoảng cách trống giữa các phần tử con dọc theo trục chính*/
}
.nav-list{
    padding-left:0; /* đặt độ rộng của phần đệm bên trái=0 */
    margin:16px; /* tạo khoảng cách xung quanh phàn tử 16px*/

}
.nav-item{
    list-style:none; /* lược bỏ các dấu chấm của thẻ ul*/
    color:#fff;
    margin:0 8px; /* gãi cách cách thẻ li trên-dưới=0.trái-phải=8px*/
    display:inline-block;
}